# 1. 변수

In [4]:
name = '홍길동'
age = 20
item_count = 15

age

20

In [5]:
print(name, age, item_count)

홍길동 20 15

# 3. 자료형

## 1) 숫자형

In [8]:
# 정수 
x = 5
y = -1
z = x*y
my_money = 1_000_000_000_000_000
print(type(my_money))

<class 'int'>

In [10]:
#실수
x = 1e-5
print(x)

1e-05

### (1) 표현

### (2) 산술/복합 연산

In [ ]:
print(12/3)

4

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [14]:
import numpy as np
print(int(np.ceil(100/30)), '개')

4 개

출생년도가 1982일 때 홀수, 짝수 판단하기

In [17]:
year = 1982
if year % 2 == 0 :
    print("짝수")
else:
    print("홀수")

짝수

## 2) ⭐ 문자열

### (1) 표현

In [35]:
msg = "\"철수가 말했습니다\""
msg

'"철수가 말했습니다"'

In [36]:
msg = ''' 안녕
전말
안녕'''

print(msg)

 안녕
전말
안녕

In [38]:
msg = "안녕 \n 정말로"
print(msg)

안녕
 정말로

### (2) 연산

In [41]:
a = "안녕" 
b = "바보"
print(a+b)
print(a*3)

안녕바보
안녕안녕안녕

In [43]:
print("=" * 50)
print("반복1이 시작되었습니다")
print("=" * 50)

==================================================
반복1이 시작되었습니다
==================================================

### ⭐(3) 인덱싱/슬라이싱

#### 슬라이싱

In [47]:
ids = ['990829-2515632', "980622-1234567"]

print(ids[0][-6:])
print(ids[0][-12:-8])

515632
0829

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [48]:
ids = ['990829-2515632', "980622-1234567"]


# for i in range(14):
#     if (i >= 8):
#         print("*", end='')
#     else: print(id[i], end='')

for id in ids:
    print(id[:8] +'******')

990829-2******
980622-1******

### (4) 문자열 포매팅(f-string)

In [49]:
name = "이연"
n = 3
print(f"{name}님 환영합니다. {n}번째 방문이시네요")

이연님 환영합니다. 3번째 방문이시네요

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

In [50]:
address = '서울시 강동구 아리수로'
address_split = address.split()
print(address_split)

['서울시', '강동구', '아리수로']

예제. 파일 확장자 찾기

In [53]:
filename = 'mysql.hwp'
print(f"파일의 확장자는 {filename.split('.')[1]}")

파일의 확장자는 hwp

#### 문자열 대체(replace)

In [55]:
string = "hello puture"
string = string.replace('hell', 'heaven')
print(string)

heaveno puture

#### 대/소문자 변환(lower, upper)

In [57]:
print('hamberger'.upper())
print('HAMBERGER'.lower())

HAMBERGER
hamberger

#### 공백 제거(lstrip/rstrip/strip)

In [58]:
name = "   jiho  "
print(f"|{name.strip()}|")

|jiho|

#### 카운트 세기(count)

In [59]:
print("mmmmmmffffffMMM".lower().count('m'))

9

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [61]:
review = """짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿"""
print(review.count("짬뽕"))
print(review.count("짜장면"))

1
2

## 3) 리스트(List)

### (1) 표현

In [2]:
myList = [1, 2, 3, "가", ["a", "b", "c"], (1, 2), { "fruit" : "cherry" }]
print(myList)

[1, 2, 3, '가', ['a', 'b', 'c'], (1, 2), {'fruit': 'cherry'}]

In [ ]:
person1 = "green"
person2 = "jason"

### (2) 인덱싱/슬라이싱

#### 인덱싱

#### 슬라이싱

In [12]:
orders = ["pasta", "pizza", "coke"]
print(orders[::-1])

['coke', 'pizza', 'pasta']

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

In [3]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print(data[3][1])

cat

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

In [4]:
print(data[3][:2])

['dog', 'cat']

### (2) 연산

#### 덧셈

In [5]:
list1 = [1, 2, 3]
list2 = ['원', '투']
print(list1 + list2)

[1, 2, 3, '원', '투']

#### 곱셈

In [ ]:
list1 = [1, 2, 3]
list2 = ['원', '투']
print(list1 * 5)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### (3) range

In [8]:
num_list = range(5)
print(type(num_list))

print(type(list(num_list)))
print(num_list)
print(list(num_list))

<class 'range'>
<class 'list'>
range(0, 5)
[0, 1, 2, 3, 4]

In [ ]:
#3~9까지 범위를 리스트로 출력
print("1.", list(range(3,10)))
# 0부터 10까지 짝수만 출력
print("2.", list(range(2, 11, 2)))
# 0에서 5까지의 범위를 거꾸로 출력
print("3.", list(range(5, -1, -1)))

1. [3, 4, 5, 6, 7, 8, 9]
2. [2, 4, 6, 8, 10]
3. [5, 4, 3, 2, 1, 0]

### (4) 수정/추가/삭제

#### 수정

In [32]:
num_list = [0, 1, 2, 3, 4, 5, 6, 7, 8]

num_list[1] = '일'
print(num_list)

num_list[2:4] = ["two", "three"]
print(num_list)

num_list[7:] = ["하하하", '하하하']
print(num_list)

for i in range(4):
    num_list[i] = 10
print(num_list)

[0, '일', 2, 3, 4, 5, 6, 7, 8]
[0, '일', 'two', 'three', 4, 5, 6, 7, 8]
[0, '일', 'two', 'three', 4, 5, 6, '하하하', '하하하']
[10, 10, 10, 10, 4, 5, 6, '하하하', '하하하']

#### 추가

In [35]:
data = list(range(5))
data += [5]

print(data)

data += [1, 2, 3]
print(data)

data.append([9, 8, 7])
print(data)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 1, 2, 3]
[0, 1, 2, 3, 4, 5, 1, 2, 3, [9, 8, 7]]

In [36]:
# 여러개 추가 extend
data.extend([8, 7, 6])
print(data)

[0, 1, 2, 3, 4, 5, 1, 2, 3, [9, 8, 7], 8, 7, 6]

### 삽입

In [37]:
num_list = [10, 20]

num_list.insert(1, 15)
print(num_list)

[10, 15, 20]

#### 삭제

In [47]:
num_list = list(range(0, 100, 10))
print(num_list)

#3번째 데이터 삭제해주세요(del)
del num_list[3]
print(num_list)

#7번째 데이터 삭제(remove)
num_list.remove(num_list[7])
print(num_list)

#뒤에서 3번쩨부터 데이터를 삭제
del num_list[-3:]
print(num_list)

#맨 뒤에 있는 데이터를 삭제하고 그 값을 출력
print(num_list.pop())

#전체데이터를 삭제
num_list = []
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 40, 50, 60, 70, 90]
[0, 10, 20, 40, 50]
50
[]

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

In [52]:
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]

pop_data = post_data.pop(2)
print(pop_data)

error_data = []
error_data.append(pop_data)
print(error_data)

ID003
['ID003']

## 4) 튜플(Tuple)

### (1) 표현

In [ ]:
data = ()
print(type(data))

<class 'tuple'>

In [58]:
data = (10,)
print(type(data))
print(data)

<class 'tuple'>
(10,)

In [ ]:
fruits = ('사과', '오렌지', '포도')
#fruits[1] = '멜론'

TypeError: 'tuple' object does not support item assignment

## 5) 딕셔너리(Dictionary)

### (1) 표현

In [60]:
data = {}
print(data)
print(type(data))

{}
<class 'dict'>

In [ ]:
scores= {
    "이름" : ['andy', 'jenny', 'licky'],
    "성적" : [68, 44, 99]
} ##중요형태

scores2 = {
    "andy":68, 'jenny':44, 'licky':99
}
print(scores)
print(scores2)

{'이름': ['andy', 'jenny', 'licky'], '성적': [68, 44, 99]}
{'andy': 68, 'jenny': 44, 'licky': 99}

In [67]:
scores3 = [
    {"이름" : 'andy', '성적': 68},
    {"이름" : 'jenny', '성적': 44},
    {"이름" : 'licky', '성적': 99}
]
print(scores3)

[{'이름': 'andy', '성적': 68}, {'이름': 'jenny', '성적': 44}, {'이름': 'licky', '성적': 99}]

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

In [71]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}

weather_data['city'] = "Busan"
weather_data['pm10'] = 34
weather_data['forecast'].extend(['Rainy', 'Rainy'])

print(weather_data)

{'city': 'Busan', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy', 'Rainy', 'Rainy'], 'pm10': 34}

### (3) 관련 메서드

In [73]:
student = {"name" : "홍길동", "age" : 20, "height" : 187.3, "score" : 88}

In [77]:
print(student.keys())
print(type(student.keys()))

dict_keys(['name', 'age', 'height', 'score'])
<class 'dict_keys'>

In [78]:
print(student.values())
print(type(student.values()))

dict_values(['홍길동', 20, 187.3, 88])
<class 'dict_values'>

In [83]:
print(student.items())
print(type(student.items()))

dict_items([('name', '홍길동'), ('age', 20), ('height', 187.3), ('score', 88)])
<class 'dict_items'>

In [88]:
#print(student["weight"])
print(student.get("weight", "해당 키가 존재하지 않습니다."))

해당 키가 존재하지 않습니다.

In [91]:
# student 딕셔너리에 a라는 키가 있으면 값을 A라고 바꿔주고 아니라면 a라는 키의 값을 ""로 만들어주세요

#딕셔너리에 해당 학생이 없다면 딕셔너리에 학생이름을 key로 value를 "참석"으로 추가

A

In [ ]:
for k, v in student.items():
    print(k, v)

name 홍길동
age 20
height 187.3
score 88

#### 조회

In [99]:
for k in student.values():
    print(k)

#### 삭제

In [100]:
student.clear()

print(student)

{}

## 6) 집합

### (1) 표현

In [101]:

myset = set([11,11,22,5,4,8,2,22,111,1,26,1,55,2,2])

print(myset)
print(type(myset))

{1, 2, 4, 5, 8, 11, 111, 22, 55, 26}
<class 'set'>

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

In [102]:
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
print(set(emails))

{'user1@example.com', 'user2@example.com', 'user3@example.com'}

### (2) 요소 추가/제거

#### 추가

In [113]:
myset = {1, 2, 3, 4, 5}

# 6추가
myset.add(6)
print(myset)

#5 중복 추가
myset.add(5)
print(myset)

#여러 개 추가
myset.update([4, 7, 8])
print(myset)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}

#### 제거

In [114]:
#remove discard

# 5 제거
myset.remove(5)
print(myset)

# 9 제거
myset.discard(9)
print(myset)
#remove로 없는 값 제거하면 오류가남

{1, 2, 3, 4, 6, 7, 8}
{1, 2, 3, 4, 6, 7, 8}

### (3) 연산

<img src='https://www.dropbox.com/scl/fi/o9jjkizgbclwemi9wot4h/.png?rlkey=35o0zu24jc99ggiv9ex3pukqf&st=f69cko7q&dl=1' width=30%>

In [123]:
set1 = {'A', 'F', 'G', 'C', 'D'}
set2 = {'A', 'F', 'H', 'B'}

#요가 - 헬스 차집합
print(set1.difference(set2))
print(set1 - set2)

#헬스 - 요가 차집합
print(set2.difference(set1))
print(set2 - set1)

## 교집합
print(set1.intersection(set2))
print(set1 & set2)

## 합집합
print(set1 | set2)
print(set1.union(set2))

{'D', 'C', 'G'}
{'D', 'C', 'G'}
{'B', 'H'}
{'B', 'H'}
{'A', 'F'}
{'A', 'F'}
{'D', 'G', 'B', 'H', 'C', 'A', 'F'}
{'D', 'G', 'B', 'H', 'C', 'A', 'F'}

## 7) 불

In [125]:
switch = True

if switch :
    print("스위치 켜짐")
else :
    print("스위치 꺼짐")

스위치 켜짐

In [126]:
data = ["A", "C", "B"]
if "D" not in data :
    rslt = "D는 출근하지 않았습니다."
else: rslt = "D는 출근했습니다."

print(rslt)

D는 출근하지 않았습니다.

In [ ]:
# * append / extend 차이 알기
# 인스타그램 태그 수집기
# post1 : #헬스, #단백질
# post2 : #닭가슴살, #다이어트, #단백질
# post3 : "#요요", "#헬스", "#다이어트"
# post4 : "#닭가슴살", "#단백질"

# 문제 1. 인스타그램 포스트별로 데이터를 수집하고 싶다
# 문제 2. 모든 해시태그들을 tags라는 변수에 담고 싶다
# 문제 3. 해시태그 카테고리가 몇 개인지 알고 싶다

In [7]:
insta_info = {"postId" : [], "tags" : []}
post_tags = [["#헬스", "#단백질"], ["#닭가슴살", "#다이어트", "#단백질"], ["#요요", "#헬스", "#다이어트"], ["#닭가슴살", "#단백질"]]
id = 1

for tags in post_tags :
    insta_info["postId"].append(id)
    id += 1
    insta_info["tags"].extend(tags)

print(len(set(insta_info["tags"])))
print(insta_info)

5
{'postId': [1, 2, 3, 4], 'tags': ['#헬스', '#단백질', '#닭가슴살', '#다이어트', '#단백질', '#요요', '#헬스', '#다이어트', '#닭가슴살', '#단백질']}

In [8]:
insta_info = {"postId" : [], "tags" : []}
post_tags = [["#헬스", "#단백질"], ["#닭가슴살, #다이어트, #단백질"], ["#요요", "#헬스", "#다이어트"], ["#닭가슴살", "#단백질"]]
id = 1

for tags in post_tags :
    insta_info["postId"].append(id)
    id += 1
    insta_info["tags"].append(tags)

print(insta_info)

{'postId': [1, 2, 3, 4], 'tags': [['#헬스', '#단백질'], ['#닭가슴살, #다이어트, #단백질'], ['#요요', '#헬스', '#다이어트'], ['#닭가슴살', '#단백질']]}