# 제어문

# 1. 조건문

## 1) 연산자

문제. 나이가 10세 이상이고, 키가 120cm 이상일 때만 놀이기구 탑승

* 탑승 가능하면 "통과" 아니면 "탑승 불가"라고 출력하기

In [ ]:
age = 14
height = 119

if age >= 10 and height >= 120:
    print("탑승 가능합니다.")
elif age >= 10 and height < 120:
    print("120cm 이상만 탑승 가능합니다.")
elif age < 10:
    print("10살 이상만 탑승 가능합니다.")
    
else: print("탑승 하실 수 없습니다.")

120cm 이상만 탑승 가능합니다.

문제. 10만원 이상 구매하거나 "Gold" 등급이면 10% 할인

* 할인이 가능하면 "10% 할인 가능" 아니면 "10% 할인 불가" 출력

In [ ]:
grade = 'Silver'
purchase = 200000
price = 150000

if grade == 'Gold' or purchase >= 100000:
    print("지불할 가격은", int(price * 0.9))
else:
    print("지불할 가격은", price)

지불할 가격은 135000

## 2) 활용

In [ ]:
# 지갑 안에 운전면허증이 있다면 통과이고 없으면 벌금이다. 
# 만약 벌금을 납부하게 되면 지갑에 카드가 있으면 카드 결제이고 아니면 현금 납부이다. 
# 이 사람은 어떻게 해야 하는가?
wallet = ["credit card", "trash"]

if 'license' in wallet:
    print("통과 입니다.")
else:
    if 'credit card' in wallet:
        print("카드 결제로 벌금을 납부하세요")
    elif 'cash' in wallet:
        print("현금으로 벌금을 납부하세요")
        
    else: print("벌금 청구서를 받을 주소를 남겨주세요")

카드 결제로 벌금을 납부하세요

## 4) 예제

문제 1. 온도가 15도에서 25도 사이인지 확인하는 예시:

In [ ]:
temperature = 20

if 25 > temperature > 15:
    print("온도가 15도와 25도 사잇값 입니다.")
else : print("온도가 15도와 25도 사잇값이 아닙니다.")

온도가 15도와 25도 사잇값 입니다.

문제 2. 학생의 성적에 따른 장학금 여부 결정

* GPA가 4.0 이상이면 100% 장학금을 받습니다.
* GPA가 3.5 이상이면 50% 장학금을 받습니다.
* GPA가 3.0 이상이면 30% 장학금을 받습니다.
* 그 외에는 장학금을 받을 수 없습니다.

In [6]:
gpa = 3.99
scolarship_percent = 0
money = 4500000

if gpa >= 4.0 :
    scolarship_percent = 1.0
elif gpa >= 3.5 :
    scolarship_percent = 0.5
elif gpa >= 3.0 :
    scolarship_percent = 0.3
else :scolarship_percent = 0.0

print("학생이 받을 장학금은", int(money*scolarship_percent),"원 입니다.")

학생이 받을 장학금은 2250000 원 입니다.

문제 3. 특정 단어가 문장에서 없는지 확인

* search_word가 text에 포함되지 않으면 해당 단어가 문장에 없다는 메시지를 출력합니다.

In [8]:
text = "my love is python coding, and I love programming language."
search_word = 'python'

if search_word in text :
    print(search_word,"가 문장에 포함되어있습니다.")
else: print(search_word, "가 문장에 포함되어있지 않습니다.")

python 가 문장에 포함되어있습니다.

# 2. 반복문

## 1) While 문

<img src='https://www.dropbox.com/scl/fi/r0815e20gb2hv6a599i00/_-while.png?rlkey=dexzbwy3xu4phnzvo65cb6hbq&st=ykavuhx3&dl=1' width=30%>

### (1) 표현

### (2) break

### (2) continue

## 2) For 문

<img src='https://www.dropbox.com/scl/fi/eezsh68wobwm87rhh7209/_-for.png?rlkey=w1mhrm40cg413ajdajix0bb9m&st=ptyurj6a&dl=1' width='30%'>

### (1) 표현

### (2) 관련 주요 함수

In [15]:
for i in range(1, 6) :
    print(i)

1
2
3
4
5

In [17]:
students = ["길동", "춘향", "민수", "지수"]
for student in students:
    print(student, end="/")

길동/춘향/민수/지수/

### (3) break/continue

In [ ]:
#break

for i in range(1, 11):
    if(i == 7):
        break
    print(i)

1
2
3
4
5
6

In [ ]:
#continue

for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

#### break

In [11]:
cnt = 0
while True:
    cnt +=1
    print(cnt)

    if cnt > 5:
        break

1
2
3
4
5
6

In [14]:
cnt = 0
while True:
    if cnt > 5:
        break
    
    print(cnt)
    cnt +=1

0
1
2
3
4
5

#### continue

### (4) 활용

In [25]:
score_data = {"홍길동" : 68, "최시연" : 44, "김민지" : 90}

for key in score_data.keys():
    print(key)
print()

for key in score_data:
    print(key)
print()

for value in score_data.values():
    print(value)
print()

for k, v in score_data.items():
    print(f"{k} {v}점")

홍길동
최시연
김민지

홍길동
최시연
김민지

68
44
90

홍길동 68점
최시연 44점
김민지 90점

In [ ]:
names = ["홍길동", "최시연", "김민지"]
scores = [67, 88, 90]

for name, score in zip(names, scores):
    print(f"{name} {score}점")

## 3) 예제

예제1. 학생 성적 딕셔너리

반복문을 사용해서 "홍길동님의 성적은 85점입니다" 형태로 출력하세요.

```
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}
```

In [2]:
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}

for k, v in grades.items():
    print(f"{k}님의 성적은 {v}점입니다")

John님의 성적은 85점입니다
Emily님의 성적은 92점입니다
Tom님의 성적은 78점입니다
Lucy님의 성적은 88점입니다

예제2. 센서 온도 데이터

30도 이상인 데이터만 출력하세요

```
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]
```

In [4]:
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]
print("30도 이상인 센서 온도는")
for temp in temperature_data:
    if temp >= 30 :
        print(temp)

30도 이상인 센서 온도는
35.2
40.1

예제 3. 고객 주문 데이터

반복문을 사용해서 총 매출을 계산하세요.

```
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]
```

In [7]:
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]

total = 0

for order in orders:
    total += order["amount"]
print(f"총 매출액은 {total}원")

총 매출액은 304000원

예제 4. 리뷰 데이터

짜장면이 언급된 데이터만 출력하세요

```
reviews = [
    "맛있어요! 짜장면 최고예요!",
    "배달이 느렸지만 짬뽕은 맛있었어요.",
    "탕수육은 별로였지만 전체적으로 만족!",
    "짜장면이 너무 짰어요.",
]
```

In [8]:
reviews = [
    "맛있어요! 짜장면 최고예요!",
    "배달이 느렸지만 짬뽕은 맛있었어요.",
    "탕수육은 별로였지만 전체적으로 만족!",
    "짜장면이 너무 짰어요.",
]

for review in reviews:
    if "짜장면" in review:
        print(review)

맛있어요! 짜장면 최고예요!
짜장면이 너무 짰어요.

## 4) List Comprehension

In [33]:
mylist = [ i for i in range(1, 11) ]
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
num_list = [ i**2 for i in range(1, 11)]
print(num_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
num_list = [ i+10000 for i in range(1, 11) if i % 2 == 0]
print(num_list)

[10002, 10004, 10006, 10008, 10010]

In [38]:
num_list = ["짝수" if i % 2 == 0 else "홀수" for i in range(1, 11) ]
print(num_list)

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']